@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  --primary: #1482ff;
  --secondary: #215fa7;
  --highlight: #3ee586;
  /* !Status */
  --status-paused: #f57023;
  --status-pending: #f5ef34;
  --status-in_progress: #1ca2eb;
  --status-completed: #00fc11;
  /* !Criticality */
  --criticality-low: #00d5ff;
  --criticality-medium: #0067f7;
  --criticality-high: #f59e23;
  --criticality-critical: #e71d1d;
}

@layer base {
  :root {
    /* !Criticality */
    --criticality-low: #f5a623;
    --medium: #f5a623;
    --criticality-high: #f5a623;
    --criticality-critical: #f5a623;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    /*     --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%; */

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}
