@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  --primary: #1482ff;
  --secondary: #1367c7;
  --highlight: #30ab18;
  /* !Status */
  --status-paused: #f5a523;
  --status-paused-foreground: #56330a;
  --status-pending: #fff700;
  --status-pending-foreground: #5d5b08;
  --status-in_progress: #0cc7e9;
  --status-in_progress-foreground: #063942;
  --status-completed: #00fc11;
  --status-completed-foreground: #035209;
  /* !Criticality */
  --criticality-low: #00d5ff;
  --criticality-low-foreground: #02505f;
  --criticality-medium: #0f37da;
  --criticality-medium-foreground: #8d9dd1;
  --criticality-high: #f59e23;
  --criticality-high-foreground: #482e0a;
  --criticality-critical: #e71d1d;
  --criticality-critical-foreground: #650f0f;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    /*     --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%; */

    --muted: #2b2c37;
    --muted-foreground: #171718;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}
